<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="my-container">
    <main> {% block content %}{% endblock %}
    </main>
    {% if current_user %}
        <nav class="drawer-fixed">
            <div class="account-header">
                <form action="/logout" method="post">
                    <p class="font-title caption">{{ current_user.name }}
                        <input class="button" type="submit" value="Logout"/></p>
                </form>

            </div>
            <div class="list">
                <h4 class="font-caption list-caption">Задачи</h4>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon"
                       style="color: rgba(230, 81, 0, 0.87)">today</i>Сегодня
                </p>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon">today</i>Завтра
                </p>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon">view_week</i>Неделя
                </p>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon">more_horiz</i>Ещё
                </p>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon">add</i>Добавить
                </p>
                <h4 class="font-caption list-caption">Друзья</h4>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon"
                       style="color: rgba(1, 87, 155, 0.87)">people</i>Список
                </p>
                <p class="list-item-single font-body1 list-item">
                    <i class="material-icons material-icons-24 list-item-icon"
                       style="color: rgba(183, 28, 28, 0.87)">whatshot</i>Лента
                </p>
                </ul>
            </div>
        </nav>
    {% endif %}
    <aside class="drawer-fixed" style="display: none">
        {% block details %}{% endblock %}
    </aside>
</div>
<footer style="display: none">This is the footer.</footer>
</body>
</html>