{% extends "base.html" %}
{% block content %}

<div class="row  justify-content-md-center">
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <form method="post" action="/login">
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input class="form-control" type="text" name="login" id="login" value="{{login}}"/>

                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" name="password" id="password" value="{{password}}"/><br/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Войти">
                        <a href="https://oauth.vk.com/authorize?client_id={{client_id}}&response_type=code&redirect_uri=http://tasker.itishka.org:5000/login/vk">
                            <img src="/static/vk.png">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}