{% extends "base.html" %}
{% block content %}

<div class="row  justify-content-md-center my-3">

    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form method="post" action="#">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input class="form-control" type="text" name="login" id="login" value="{{user.login or ''}}"/>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{user.name or ''}}"/>
                </div>
                <div class="form-group">
                    <label for="public_visibility">Public Visibility:</label>
                    <select class="form-control" id="public_visibility" name="public_visibility">
                        {% for vis in visibilities %}
                        <option {% if user.public_visibility==vis %} selected {% endif %} value="{{vis.value}}">
                            {{vis.value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="subscribers_visibility">Subscribers Visibility:</label>
                    <select class="form-control" id="subscribers_visibility" name="subscribers_visibility">
                        {% for vis in visibilities %}
                        <option {% if user.subscribers_visibility==vis %} selected {% endif %} value="{{vis.value}}">
                            {{vis.value}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save">
                    <a class="btn btn-light" href="/users/{{user.id or ''}}">Отмена</a>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
