{% from 'pagination.html' import render_pagination with context %}

{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-md-center my-3">
        <div class="stickerboard">
            <a href="/tasks/new" class="sticker">
                <div class="body"><img src="/static/add.svg" class="whole"/></div>
            </a>

            {% for task in tasks %}
                <a href="/tasks/{{ task.id }}" class="sticker">
                    <div class="body">
                        {% if task.title %}
                            <h3>{{ task.title }}</h3>
                        {% endif %}
                        {% if task.description %}
                            <p>{{ task.description }}</p>
                        {% endif %}
                    </div>
                    {% if task.deadline %}
                        <div class="deadline">До: {{ task.deadline|humandate }}</div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>

    {{ render_pagination(pagination) }}

{% endblock %}
