{% from 'pagination.html' import render_pagination with context %}

{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-md-center my-3">
        <ul class="stickers">
            {% for task in tasks %}
                <li>
                    <a href="/tasks/{{ task.id }}" class="list-group-item-action">
                        <div class="body">
                            {% if task.title %}
                                <h3>{{ task.title }}</h3>
                            {% endif %}
                            {% if task.description %}
                                <p>{{ task.description }}</p>
                            {% endif %}
                        </div>
                        {% if task.deadline %}
                            <div class="deadline">До: {{ task.deadline }}</div>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {{ render_pagination(pagination) }}

{% endblock %}
