{% extends "base.html" %}
{% block content %}

<div class="row  justify-content-md-center">
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <p class="card-text">Login: {{user.login}} <br/>
                    Name: {{user.name or ""}} <br/></p>
                <p class="card-text">
                    Public Visibility: {{user.public_visibility}} <br/>
                    Subscribers Visibility: {{user.subscribers_visibility}} <br/>
                </p>
                <a href="self/edit" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
