body {
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.my-container {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    margin: 0 48px;
}

nav {
    flex: 0 0 240px;
    order: -1;
    z-index: 1;
}

.elevation-dialog {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1);
}

.elevation-button {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.elevation-button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.elevation-toolbar {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 1);
    margin-left: -1px;
    margin-right: -1px;
    z-index: 1;
}

.drawer {
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    padding-top: 100px;
    margin-top: -100px;
}

.drawer-fixed {
    background-color: #FFFFFF;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

aside {
    flex: 0 0 430px;
}

.font-headline {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.font-display1 {
    font-size: 34px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.font-title {
    font-size: 21px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87)
}

.font-subheading {
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.font-caption {
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
}

.font-body1 {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.font-body2 {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.font-secondary {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.list-item {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

/*.list-item-1line {*/
/*height: 48px;*/
/*line-height: 48px;*/
/*}*/

/*.list-item-3lines {*/
/*padding-top: 12px;*/
/*padding-bottom: 12px;*/
/*}*/

.list-item-3lines .font-body2 {
    max-lines: 2;
}

.button:hover, .list-item:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}

.button:active, .list-item:active {
    background-color: #E0E0E0;
}

.list-item-icon {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 32px;
    width: 24px;
    vertical-align: text-bottom;
}

.list-caption {
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    line-height: 32px;
    margin: 0;
}

* + .list-caption {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 4px;
    padding-top: 4px;
}

.list {
    padding-top: 8px;
}

.caption {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 8px;
    margin: 0;
}

.account-header {
    background-image: url("../static/account-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #2E7D32;
    padding-top: 64px;
    padding-bottom: 4px;
    margin: 0;
}

.account-header .font-title {
    color: rgba(255, 255, 255, 0.87);
}

.main-header {
    border-top: 2px solid rgba(0, 0, 0, 0);
    /*background-color: #388E3C;*/
    padding-top: 56px;
    margin: 0;
    padding-bottom: 4px;
}

.main-header .font-display1 {
    /*color: rgba(255, 255, 255, 0.87);*/
    color: rgba(27, 94, 32, 0.87);
}

.details-header {
    border-top: 2px solid rgba(0, 0, 0, 0);
    /*background-color: #2E7D32;*/
    padding-top: 56px;
    margin: 0;
    padding-bottom: 4px;
}

.details-header .font-headline {
    color: rgba(255, 255, 255, 0.87);
}

.main-text {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.account-header {
    display: flex;
    flex: 1;
}

.account-header .caption {
    flex: 1000 1000;
    height: 36px;
    box-sizing: border-box;
}

.toolbar-button-group {
    flex: 1 0;
    margin-right: 4px;
}

.toolbar-button {
    border: 0 none;
    cursor: pointer;
    background: transparent;
    width: 36px;
    height: 36px;
    padding: 6px;

}

.account-header .toolbar-button {
    color: rgba(255, 255, 255, 0.87);
}

.toolbar-button:hover {
    background-color: rgba(238, 238, 238, 0.21);
    border-radius: 18px;
}
.toolbar-button:active {
    background-color: rgba(238, 238, 238, 0.35);
    border-radius: 18px;
    border: 0;
}

.button {
    border: none;
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
    margin: 4px;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box;
    height: 36px;
}

.button img {
    margin: 0;
    padding: 0;
}