.stickerboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.sticker {
    max-width: 256px;
    max-height: 256px;
    width: 256px;
    height: 256px;
    color: #000;

    margin: 8px 8px 32px 8px;
    padding: 16px;
    background-color: #ffc;
    box-shadow: 0 4px 10px rgba(33, 33, 33, .4);
    transition: transform .1s ease-in-out;
    list-style-type: none;

    border-bottom-right-radius: 60px 5px;
    z-index: 10;

    font-family: 'Bad Script', cursive;
    font-size: 120%;

    display: flex;
    flex-direction: column;
}

.sticker .body {
    flex-grow: 1;
    padding-top: 0.25rem;
    overflow: hidden;
    flex-shrink: 1;
    min-height: 0;
    flex-basis: 100%;
}

.sticker .deadline {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-style: normal;
    margin-bottom: -12px;
    margin-left: -8px;
    padding-left: 8px;
}

.sticker:nth-child(3n) {
    transform: rotate(3deg);
}

.sticker:nth-child(3n+1) {
    transform: rotate(-3deg);
}

.sticker:hover {
    z-index: 100;
    transform: rotate(0deg) scale(1.05);
    box-shadow: 0 5px 12px rgba(33, 33, 33, .4);
    transition: transform .1s ease-in-out;

    color: #000;
    text-decoration: none;
}

.sticker.magenta {
    background-color: #fdf;
}

.sticker.red {
    background-color: #fdd;
}

.sticker.blue {
    background-color: #ddf;
}

.sticker.green {
    background-color: #dfd;
}

.sticker.black {
    background-color: #000;
    color: #fff;
}

.sticker .deadline {
    border-radius: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: linear-gradient(
            -100deg,
            rgba(255, 250, 100, 0.15),
            rgba(255, 250, 100, 0.8) 100%,
            rgba(255, 250, 100, 0.25)
    );
}

.sticker.magenta .deadline {
    background-image: linear-gradient(
            -100deg,
            rgba(255, 150, 255, 0.15),
            rgba(255, 150, 255, 0.8) 100%,
            rgba(255, 150, 255, 0.25)
    );
}

.sticker.red .deadline {
    background-image: linear-gradient(
            -100deg,
            rgba(255, 180, 180, 0.15),
            rgba(255, 180, 180, 0.8) 100%,
            rgba(255, 180, 180, 0.25)
    );
}

.sticker.blue .deadline {
    background-image: linear-gradient(
            -100deg,
            rgba(180, 180, 255, 0.15),
            rgba(180, 180, 255, 0.8) 100%,
            rgba(180, 180, 255, 0.25)
    );
}

.sticker.green .deadline {
    background-image: linear-gradient(
            -100deg,
            rgba(160, 250, 160, 0.15),
            rgba(160, 250, 160, 0.8) 100%,
            rgba(160, 250, 160, 0.25)
    );
}

.sticker.black .deadline {
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(
            -100deg,
            rgba(255, 250, 150, 0.15),
            rgba(255, 250, 150, 0.4) 100%,
            rgba(255, 250, 150, 0.25)
    );
}
